input,
select,
textarea {
    appearance: none;
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    background-color: var(--input-base);

    padding: .81rem 1rem;
    margin-top: .75rem;

    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);

    color: var(--input-placeholder);
    font: var(--body-md);
}

::placeholder {
    color: var(--input-placeholder);
    font: var(--body-md);
}

input[type="datetime-local"] {
    position: relative;
    text-transform: uppercase;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

textarea {
    width: 35rem;
    height: 8.5rem;

    padding: 1rem;

    resize: none;
}

input {
    &[required]+.error {
        display: flex;
        align-items: center;
        gap: .5rem;

        font: var(--body-xs);
        color: var(--feedback-danger);

        margin-top: .5rem;
    }

    &[required] {
        border: 2px solid transparent;
        outline: 1px solid var(--feedback-danger);

        &:not:valid+.error {
            border: 2px solid transparent;
            outline: 1px solid var(--input-stroke);
        }
    }

    &:not(:focus):valid+.error {
        display: none;
    }
}