footer {
    margin-top: 5.5rem;
}

.terms-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    cursor: pointer;

    & input {
        border: 1px solid var(--input-stroke);
        border-radius: .25rem;
        color: var(--brand-light);
        margin-right: 10px;

        width: 1.25rem;
        height: 1.25rem;
        cursor: pointer;

        &:checked {
            border: 1px solid var(--brand-light);
            color: var(--brand-light);

            background-image: url(/assets/icons/check.svg);
            background-size: cover;
        }
    }
}

.fake-hash {
    color: var(--brand-light);
    cursor: pointer;
}

button {
    display: flex;

    margin-top: 4rem;
    margin-bottom: 80px;
    margin-left: auto;
    border-radius: .5rem;
    
   
    font: var(--body-semibold-md);
    color: var(--text-heading);
    gap: .75rem;

    padding: 13px 20px;

    cursor: pointer;
    
    background-color: var(--brand-dark);

    width: 11.5rem;
    height: 3rem;
}

.empty {
    color: var(--shape-background);
}