@import url(/styles/fields/index.css);

fieldset {
    border: none;
    display: grid;
    gap: 1rem;
}

legend {
    display: flex;
    gap: .75rem;

    font: var(--heading-sm);
    color: var(--text-heading);

    align-items: center;
    margin-bottom: 1.5rem;
}

label {
    font: var(--body-sm);
}

.label-radio-wrapper {
    font: var(--body-sm);
}

                