#app {
    display: grid;
    grid-template-columns: 31.25% 68.75%;

    height: 100vh;
    overflow: hidden;

    padding: 1.25rem;
}

aside {
    background-image: url(../assets/Background.png);
    background-size: cover;

    padding: 2rem;
    border-radius: 0.75rem;

    header {
        padding: 2rem;
    }

    & img {
        margin-bottom: 1rem;
        width: 2.86rem;
        height: 3rem;
    }

    & .aside-container {
        max-width: 25rem;
    }

    & span {
        font: var(--logo);
        color: var(--accent-pink);
    }

    p {
        margin-top: 1rem;
    }
}


main {
    overflow-x: hidden;
    border-radius: 0.75rem;
    background-color: var(--shape-body);
    margin: 0 1.25rem 0 1.25rem;
    display: flex;
    justify-content: center;

    & .main-container {
        width: 35rem;
        margin: 0 8.125rem 0 8.125rem;
    }
}